.btn {
    background-color: $primary-color;
    color: rgb(93, 93, 226);
    padding: $base-spacing;
    border-radius: 4px;
    text-align: center;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }